@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Rock+Salt&display=swap');

* {
  padding: 0;
  margin: 0;
}

.body {
  background-color: #cef6ff 0.95;
  font-family: Arial, Helvetica, sans-serif;
  width: 1440px;
  height: 1024px;
}

.header {
  width: 50%;
  display: inline-flex;
  padding: 32px 849px 0px 39px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  /* position: fixed; */
}

.header div {
  color: #026592;
  font-family: Archivo Narrow;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* .header p  */

.menu {
  overflow: hidden;
}

.menu-option {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #026592;
  font-family: Archivo Narrow;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.stage-general {
  width: 100%;
  height: 100%;
  /* background-color: #f2f2f2; */
  padding: 20px;
  display: inline;
}

.stage-team {
  width: 100%;
  height: 100%;
  /* background-color: #f2f2f2; */
  padding: 50px;
  display: none;
  margin-left: 28px;
}

.panel {
  width: 100%;
  height: 400px;
  /* background-color: #f2f2f2; */
  padding: 20px;
}

.panel p {
  font-size: 20px;
}

.member-name {
  font-family: Archivo Narrow;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #026592;
}

.download-text {
  font-family: Archivo Narrow;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #026592;
}

.download-text a {
  color: #044462;
}

.linkedin-text {
  font-family: Archivo Narrow;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #026592;
}

.linkedin-text a {
  color: #044462;
}

.board {
  width: 398px;
  height: 398px;
  /* background-color: #f2f2f2; */
  padding: 5px;
  display: inline-flex;
}

.board img {
  border: solid 1px #026592;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: blue;
  color: #fff;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
